[Unit]
Description=Update media-server repo
ConditionPathExists=/var/home/core/balena-media-server
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=git -C /var/home/core/balena-media-server pull origin main
[Install]
WantedBy=multi-user.target